@import "../node_modules/bootstrap/scss/bootstrap";

h1{
    color: blue;
}

header{
    background: lightgray;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 100%;
    h2{
        font-size: 3em;
    }
    h4{
        font-size: 1.3em;
    }
}

.bannerBienvenida{
    @extend .banner;
    background-image: url("../media/banners/bannerBienvenida.jpeg");
    background-position: center;
    background-attachment:fixed;
    color: #ffffff;
    height: 50vh;
}

footer{
    background-color: lightskyblue;
    height: 15vh;
}

/** estilo de texto*/

.precio{
    font-size: 1.8rem;
}
