@import "../node_modules/bootstrap/scss/bootstrap";
@import "variables";

/* estilo de los elementos HTML */

h1{
    padding: 1.5rem 0;
    font-size: 2.2rem;
}

@media screen and (min-width: 720px){
    h1{
        font-size: 4rem;
    }
}

body{
    background-color: $colorFondo;
}

header{
    background: $colorHeader;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh;
    background-color: $colorFooter;
    color: $blanco;
}

/*Estilo banners */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    padding: 1.5rem;
    width: 100%;
    h2{
        font-size: 3em;
    }
    h4{
        font-size: 1.3em;
    }
}

.bannerBienvenida{
    @extend .banner;
    background-image: url("../media/banners/bannerBienvenida.jpeg");
    background-position: center;
    background-attachment:fixed;
    color: $blanco;
    height: 50vh;
}


///formas de envio y demas

.infoItem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 2px solid $grisMedio;
    img{
        width: 8rem;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h4{
            font-size: 1.2rem;
        }
        h5{
            font-size: 1rem;
        }
    }
}

/*Estilo de los logos*/

.logoRedSocial{
    img{
        filter: brightness(0) invert(1);
    }
}

/*Carrito de productos*/

.resumenCompraContainer{
    background-color: $blanco;
}

@media screen and (min-width: 720px){
    .resumenCompraContainer{
        box-shadow: 1px 2px 6px $grisMedio; 
    }
}

.resumenDetalles{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    h4{
        font-size: 1.8rem;
    }
    span{
        font-size: 1.2rem;
    }
    button{
        min-height: 50px;
    }
}

@media screen and (min-width: 720px){
    .resumenDetalles{
        border-top: none;
        border-left: 2px solid $negro;
        padding-top: 0;
        h4{
            font-size: 1.8rem;
        }
        span{
            font-size: 1.4rem;
        }
    }
}



.productoCarrito{
    border-bottom: 1px solid $grisMedio;
    margin: 0 1rem;
    img{
        background-color: $blanco;
    }
}

/* estilo de texto*/

.precio{
    font-size: 1.8rem;
}

.numeroPedido{
    font-weight: 500;
    font-size: 1.2rem;
}

/* estilo de cartas productos */

.amd{
    border-left: 3px solid $colorAmd;
}

.intel{
    border-left: 3px solid $colorIntel;
}

.ambasMarcas{
    border-left: 3px solid $grisMedio;
}

.inputCantidadContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    label{
        font-size: 1.4rem;
        padding-right: 1rem;
        font-weight: 500;
    }
    input{
        max-width: 25%;
    }
}


